.inline-header {
  color: blueviolet;
  background-color: aquamarine;
  text-align: center;
  font-size: 60px;
  border: 1px solid;
  padding: 20px;
}

.outline-header {
  color: chartreuse;
  background-color: bisque;
  text-align: center;
  font-size: 60px;
  border: 1px solid;
  padding: 20px;
}
