.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #0362a6;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.item {
  margin: 50px;
}
